 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #444;
}

main {
}

input, textarea {
  display: block;
}

#notes {
  overflow: scroll;
  height: 500px;
  list-style-type: none;
  color: white;
}

header h1 {
  color: white;
  font-size: 52px;
}

footer {
  color: white;
}
